<!DOCTYPE html>
<html lang="ru">

<head>
	<title>О нас</title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<!-- <style>body{opacity: 0;}</style> -->
	<link rel="stylesheet" href="/css/style.min.css?_v=20241023024525">
	<link rel="shortcut icon" href="/favicon.ico">
	<!-- <meta name="robots" content="noindex, nofollow"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="wrapper">
		<header class="header">
			<div class="header__container">
				<div class="header__content">
					<a href="#" class="header__logo">
						Строфы
					</a>
					<div class="header__menu menu">
						<nav class="menu__body">
							<ul>
								<li>
									<a href="/promo">Промо</a>
								</li>
								<li>
									<a href="#" class="_active">О нас</a>
								</li>
								<li>
									<a href="#">Прототип</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>
		<main class="page">
			<div class="page__main-about main-about">
				<div class="main-about__container">
					<div class="main-about__content">
						<h1>
							Приложение для чтения книг <span class="outlining">в моменте</span>
							<br>
							Начните обсуждать прямо сейчас
						</h1>
					</div>
					<div class="main-about__images">
						<picture><source srcset="/img/phone.webp" type="image/webp"><img class="main-about__image-1" src="/img/phone.png" alt=""></picture>
						<picture><source srcset="/img/phone.webp" type="image/webp"><img class="main-about__image-2" src="/img/phone.png" alt=""></picture>
						<picture><source srcset="/img/phone.webp" type="image/webp"><img class="main-about__image-3" src="/img/phone.png" alt=""></picture>
					</div>
				</div>
			</div>
			<div class="page__possibilities possibilities">
				<img src="/img/icons/line-1.svg" alt="" class="possibilities__line-1">
				<img src="/img/icons/line-2.svg" alt="" class="possibilities__line-2">
				<div class="possibilities__container">
					<div class="possibilities__content">
						<h3>Возможности</h3>
						<div class="possibilities__body">
							<div class="possibilities__column">
								<div class="possibilities__item">
									<div class="possibilities__title">
										Начинайте обсуждение книги в моменте
									</div>
									<p>
										Больше не нужно дочитывать книгу до конца, чтобы обсудить ее с кем-то.
										Обсуждение доступно уже сейчас
									</p>
								</div>
							</div>
							<div class="possibilities__column">
								<div class="possibilities__item">
									<div class="possibilities__title">
										Вступайте в группы и создавайте их
									</div>
									<p>
										Хотите обсудить книгу, но обсуждение еще не начато? Станьте тем, кто ее начнет!
										Создайте группу и ждите, когда в нее добавятся другие
									</p>
								</div>
							</div>
							<div class="possibilities__column">
								<div class="possibilities__item">
									<div class="possibilities__title">
										Получайте эмоции сразу во время чтения
									</div>
									<p>
										Переживаете напряженный момент и вам не с кем разделить его? С нашим сервисом
										такой проблемы не будет и вы найдете человека для общения
									</p>
								</div>
							</div>
							<div class="possibilities__column">
								<div class="possibilities__item">
									<div class="possibilities__title">
										Находите друзей и единомышленников
									</div>
									<p>
										Узнавайте друг друга лучше в процессе обсуждения, обменивайтесь полученными
										эмоциями, а вместе с тем и контактами
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="page__mission mission">
				<div class="mission__container">
					<picture><source srcset="img/mission-bg.webp" type="image/webp"><img src="/img/mission-bg.png" alt=""></picture>
					<div class="mission__content">
						<span class="outlining">Наша миссия</span> – создать платформу, которая станет местом встреч
						любителей книг,
						местом, которое
						позволит отвлечься и получать эмоции
					</div>
				</div>
			</div>
		</main>
		<footer class="footer">
			<div class="footer__container">
				<div class="footer__content">
					<a href="#" class="footer__logo">
						Строфы
					</a>
					<div class="footer__menu">
						<nav class="footer__body">
							<ul>
								<li>
									<a href="/promo">Промо</a>
								</li>
								<li>
									<a href="/about">О нас</a>
								</li>
								<li>
									<a href="#">Прототип</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<script src="/js/app.min.js?_v=20241023024525"></script>
</body>

</html>